.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.movies-container > figure {
  height: 400px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movies-container > figure > img {
  height: 300px;
  width: 203px;
}
