.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters {
  margin: 2rem 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  width: 75vw;
  margin: 0 13rem;
  padding: 0.7rem 0;
  border-bottom: 2px solid var(--dark-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search > img {
  height: 2rem;
}

.search > input {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 550;
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

.filters > h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0.5rem;
}

.filters > button {
  margin: 0.5rem 0;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  background: none;
  font-weight: 550;
  font-family: 'Roboto Condensed', sans-serif;
}

.filters > button::before {
  margin-left: auto;
}

.filters > button::after,
.filters > button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--color-highlight);
  display: block;
  transition: 0.5s;
}

.filters > button:hover::after,
.filters > button:hover::before {
  width: 100%;
}

.filters > select {
  height: 1.6rem;
  width: fit-content;
  margin: 0.5rem 0;
  border: 2px solid var(--color-highlight);
  border-radius: 2px;
  padding: 0 0.5rem;
  background: none;
  color: inherit;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 10rem;
}

.movies-container > figure {
  height: 410px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-container > figure > a > img {
  height: 300px;
  width: 203px;
}

.movies-container > figure > a > img:hover {
}

/* h2 { 
    top: 50%;
    transform: translate3d(0, 60px, 0);
    text-align: center; 
  }
  
  p { 
    opacity: 0;
    bottom: 0;
    transform: translate3d(0, -10px, 0);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
  }
  
  &:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    z-index: 2;
    bottom: -100%;
    left: 0;
  }
  
  &:hover:before {
    bottom: 0;
  }
  
  &:hover {
    h2 {
      bottom: 40px;
      transform: translate3d(0, 20px, 0);
    }
    
    p {
      opacity: 1;
      transform: translate3d(0, -30px, 0);
    }
  } */

.movies-container > figure > button {
  background: none;
  border: none;
  color: inherit;
}

.movies-container > figure > figcaption {
  margin: 0.2rem;
}

.mov-title {
  height: 2.7rem;
  font-size: 1rem;
  font-family: var(--font-heading);
  margin-top: 0.5rem;
}

.mov-title > h3 {
  text-align: center;
}

.mov-buttons {
  display: flex;
  gap: 1rem;
}

.mov-buttons > button {
  font-size: 1.2rem;
  border: none;
  background: none;
}

/* .movies-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.movies-container button:checked ~ .checkmark path {
  fill: #FF5353;
  stroke-width: 0;
}

.movies-container button:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.movies-container button:hover {
  transform: scale(1.1);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
} */
