.profile {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  padding: 2rem 6rem;
  gap: 3rem;
  border-radius: 5px;
  font-family: inherit;
  color: inherit;
}

.profile-user {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.6rem;
}
.options {
  display: flex;
  font-size: 3rem;
  gap: 2rem;
  padding-bottom: 0.8rem;
}

.options > button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: fit-content;
  transition: all 0.5s;
}

.options > button:hover {
  scale: 1.05;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.movies-container > figure {
  height: 410px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-container > figure > img {
  height: 300px;
  width: 203px;
}
.movies-container > figure > h3 {
  margin-top: 1rem;
}
.forum-content > .review-card {
  display: flex;
  gap: 2rem;
  width: 70vw;
  padding: 3rem 2rem;
  background-color: white;
  color: inherit;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(3% 0%, 100% 0%, 100% 83%, 96% 100%, 0 100%, 0 15%);
}

.review-card > .review-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.review-card > .review-user > h3 {
  text-align: center;
  font-size: 16px;
}

.review-card > .review-content {
  display: flex;
  justify-content: flex-end;
  width: 59vw;
}

.review-card > .review-content button {
  align-self: flex-end;
}

.review-card > .review-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.deleteBtn > img {
  height: 25px;
  width: 25px;
  margin: 1.2rem;
}
/* .darkline {
  border-bottom: 1px solid var(--dark-primary);
}

.lightline {
  border-bottom: 3px solid var(--light-primary);
} */
