.profile {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding: 2rem 6rem;
  gap: 1rem;
  background-color: rgb(202, 202, 246);
  border-radius: 5px;
}

.options {
  display: flex;
  font-size: 3rem;
  gap: 1rem;
}
