footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  min-height: 20vh;
  background-color: var(--light-primary);
  color: var(--dark-primary);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.box {
  display: flex;
  align-items: center;
}

.links > ul > li > a {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  gap: 1rem;
  margin-left: 20px;
  text-align: center;
}

.links > ul > li:hover {
  border-bottom: 1px solid red;
  transition: all 2s;
  -webkit-transition: all 0.5s;
  transition-timing-function: cubic-bezier(1, 0.46, 0.48, 1.68);
  -webkit-transition-timing-function: cubic-bezier(1, 0.46, 0.48, 1.68);
}

.logo img {
  width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.underbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  gap: 1.2rem;
}
.underText > h3 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  width: 300px;
  text-align: center;
}

footer p {
  font-size: 13.6px;
  letter-spacing: 2.8px;
  font-weight: 200;
}

footer ul {
  display: flex;
  gap: 1rem;
}

.socials img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

@media screen and (max-width: 1200px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
  }

  .box {
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }

  .underbox {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .links > ul > li > a {
    font-size: 0.8rem;
  }
}
